<br>
<br>
<br>

<!--

<div >
  <a  class=" btn btn-danger"  href="#" (click)="logout($event)" *ngIf="loggedIn ">logout </a>
</div>

-->

<br>
<br>
<br>

<div class="align-content-center">
<h3><span style="font-family: times new roman, times, serif;">Appels d’offres / Consultations</span></h3>
</div>

<br>
<br>
<br>

<div class="container">
  <h6>Tableau des Appels d’Offres et Consultations en cours </h6>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th> N </th>
      <th> Réf</th>
      <th> Objet </th>
      <th> Date Limite Reception des Offres </th>

      <th> Statue </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of partnerlist ; let i = index " >
      <td> {{ p.numero }}</td>
      <td> {{ p.ref }} </td>
      <td>  {{ p.objet }}</td>
      <td>  {{ p.datelimite}}</td>
      <td>  {{ p.statu}}</td>
    </tr>
    </tbody>
  </table>
</div>
<br>
<br>
<br>
