<div class="content-area">

  <article id="post-1822" class="post-1822 page type-page status-publish hentry">

    <div class="entry-content">
      <div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <h3>Contactez-nous</h3>

          </div>
        </div>
        <div class="vc_empty_space" style="height: 5px"><span class="vc_empty_space_inner"></span></div>
      </div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner "><div class="wpb_wrapper">

      <div class="stm_contacts_widget  style_4">


        <h4 class="no_stripe">TUNIS-CARTHAGE</h4>
        <ul>
          <li>
            <div class="icon"><i class="fa fa-phone"></i></div>
            <div class="text">
              71 754 000 p 3791                                                    <br>95 998 569                                            </div>
          </li>
          <li>
            <div class="icon"><i class="fa fa-fax"></i></div>
            <div class="text">
              71 766 573                    </div>
          </li>
          <li>
            <div class="icon"><i class="fa fa-envelope"></i></div>
            <div class="text"><a href="mailto:imed.adouani@ tunisairhandling. com.tn">imed.adouani@ tunisairhandling. com.tn</a></div>
          </li>
        </ul>


      </div><div class="vc_custom_heading text_align_left"><p style="text-align: left">Service de veille : 71 892 586</p></div><div class="vc_custom_heading text_align_left"><p style="text-align: left">Sitatex : TUNKRXH / TUNKCXH</p></div><div class="wpb_gmaps_widget wpb_content_element">
      <div class="wpb_wrapper">
        <div class="wpb_map_wraper">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25538.693438620834!2d10.192296001819617!3d36.858359265926374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzbCsDUxJzMwLjEiTiAxMMKwMTInMzUuMyJF!5e0!3m2!1sfr!2stn!4v1522744728288" width="600" height="150" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen=""></iframe>		</div>
      </div>
    </div>
    </div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner "><div class="wpb_wrapper">

      <div class="stm_contacts_widget  style_4">


        <h4 class="no_stripe">MONASTIR</h4>
        <ul>
          <li>
            <div class="icon"><i class="fa fa-phone"></i></div>
            <div class="text">
              73 520 858                                                    <br>97 773 084                                            </div>
          </li>
          <li>
            <div class="icon"><i class="fa fa-fax"></i></div>
            <div class="text">
              73 520 858                    </div>
          </li>
          <li>
            <div class="icon"><i class="fa fa-envelope"></i></div>
            <div class="text"><a href="mailto:khaled.dabbabi@ tunisairhandling. com.tn">khaled.dabbabi@ tunisairhandling. com.tn</a></div>
          </li>
        </ul>


      </div><div class="vc_custom_heading text_align_left"><p style="text-align: left">Service de veille : 73 520 015</p></div><div class="vc_custom_heading text_align_left"><p style="text-align: left">Sitatex : MIRKCXH / MIRKRXH</p></div><div class="wpb_gmaps_widget wpb_content_element">
      <div class="wpb_wrapper">
        <div class="wpb_map_wraper">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6374.80856466608!2d8.8754704!3d36.976282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13020ce002ff0487%3A0xc22a534d6f924e5b!2sA%C3%A9roport+international+de+Monastir+Habib-Bourguiba!5e0!3m2!1sfr!2stn!4v1527678333170" width="600" height="150" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen=""></iframe>		</div>
      </div>
    </div>
    </div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner "><div class="wpb_wrapper">

      <div class="stm_contacts_widget  style_4">


        <h4 class="no_stripe">DJERBA-ZARZIS</h4>
        <ul>
          <li>
            <div class="icon"><i class="fa fa-phone"></i></div>
            <div class="text">
              78 680 092                                                    <br>23 085 876 / 54 386 802                                            </div>
          </li>
          <li>
            <div class="icon"><i class="fa fa-fax"></i></div>
            <div class="text">
              78 680 240                    </div>
          </li>
          <li>
            <div class="icon"><i class="fa fa-envelope"></i></div>
            <div class="text"><a href="mailto:imed.zneidi@ tunisairhandling. com.tn">imed.zneidi@ tunisairhandling. com.tn</a></div>
          </li>
        </ul>


      </div><div class="vc_custom_heading text_align_left"><p style="text-align: left">Service de veille : 78 680 005 P 57011</p></div><div class="vc_custom_heading text_align_left"><p style="text-align: left">Sitatex : DJEKKXH</p></div><div class="wpb_gmaps_widget wpb_content_element">
      <div class="wpb_wrapper">
        <div class="wpb_map_wraper">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.739989351185!2d10.772884315210252!3d33.870591180655815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13aaafc17d26ea75%3A0x7af615184cb27fb4!2sA%C3%89ROPORT+INTERNATIONAL+DE+DJERBA+(DJE)!5e0!3m2!1sfr!2stn!4v1527678505399" width="600" height="150" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen=""></iframe>		</div>
      </div>
    </div>
    </div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner "><div class="wpb_wrapper">

      <div class="stm_contacts_widget  style_4">


        <h4 class="no_stripe">SFAX-THYNA</h4>
        <ul>
          <li>
            <div class="icon"><i class="fa fa-phone"></i></div>
            <div class="text">
              74 671 006                                                     <br>98 488 481                                            </div>
          </li>
          <li>
            <div class="icon"><i class="fa fa-fax"></i></div>
            <div class="text">
              74 279 411                    </div>
          </li>
          <li>
            <div class="icon"><i class="fa fa-envelope"></i></div>
            <div class="text"><a href="mailto:fayez.rebai@ tunisairhandling. com.tn">fayez.rebai@ tunisairhandling. com.tn</a></div>
          </li>
        </ul>


      </div><div class="vc_custom_heading text_align_left"><p style="text-align: left">Service de veille : 74278000 p 44411</p></div><div class="vc_custom_heading text_align_left"><p style="text-align: left">Sitatex : SFAKKXH</p></div><div class="wpb_gmaps_widget wpb_content_element">
      <div class="wpb_wrapper">
        <div class="wpb_map_wraper">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.2727440246267!2d10.687570315232838!3d34.72351888042851!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13002b6b83a441ad%3A0x6a544218325aaba0!2sA%C3%A9roport+international+de+Sfax-Thyna+(SFA)!5e0!3m2!1sfr!2stn!4v1527678397008" width="600" height="150" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen=""></iframe>		</div>
      </div>
    </div>
    </div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner"></span></div>
    </div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">

      <div class="stm_contacts_widget  style_4">


        <h4 class="no_stripe">GAFSA-KSAR</h4>
        <ul>
          <li>
            <div class="icon"><i class="fa fa-phone"></i></div>
            <div class="text">
              76 217 757                                                    <br>98 471 822                                            </div>
          </li>
          <li>
            <div class="icon"><i class="fa fa-fax"></i></div>
            <div class="text">
              76 217 204                    </div>
          </li>
          <li>
            <div class="icon"><i class="fa fa-envelope"></i></div>
            <div class="text"><a href="mailto:adel.machrawi@ tunisairhandling. com.tn">adel.machrawi@ tunisairhandling. com.tn</a></div>
          </li>
        </ul>


      </div><div class="vc_custom_heading text_align_left"><p style="text-align: left">Service de veille : 76217200 P 258</p></div><div class="vc_custom_heading text_align_left"><p style="text-align: left">Sitatex : GAFKKXH</p></div><div class="wpb_gmaps_widget wpb_content_element">
      <div class="wpb_wrapper">
        <div class="wpb_map_wraper">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3290.972734556696!2d8.817639115224933!3d34.42744768050552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12f896306523be87%3A0x2fcf61d8c2fbc3b7!2sGafsa-Ksar+International+Airport!5e0!3m2!1sfr!2stn!4v1527678553253" width="600" height="150" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen=""></iframe>		</div>
      </div>
    </div>
    </div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">

      <div class="stm_contacts_widget  style_4">


        <h4 class="no_stripe">TABARKA-Ain-Draham</h4>
        <ul>
          <li>
            <div class="icon"><i class="fa fa-phone"></i></div>
            <div class="text">
              78 680 092                                                    <br>23 085 876 / 54 386 802                                            </div>
          </li>
          <li>
            <div class="icon"><i class="fa fa-fax"></i></div>
            <div class="text">
              78 680 240                    </div>
          </li>
          <li>
            <div class="icon"><i class="fa fa-envelope"></i></div>
            <div class="text"><a href="mailto:imed.zneidi@ tunisairhandling. com.tn">imed.zneidi@ tunisairhandling. com.tn</a></div>
          </li>
        </ul>


      </div><div class="vc_custom_heading text_align_left"><p style="text-align: left">Service de veille : 78 680 005 P 57011</p></div><div class="vc_custom_heading text_align_left"><p style="text-align: left">Sitatex : TBJKKXH</p></div><div class="wpb_gmaps_widget wpb_content_element">
      <div class="wpb_wrapper">
        <div class="wpb_map_wraper">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6374.80856466608!2d8.8754704!3d36.976282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e4b52701d869ff%3A0x184f315254ca362b!2sA%C3%A9roport+International+De+Tabarka!5e0!3m2!1sfr!2stn!4v1527676462397" width="600" height="150" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen=""></iframe>		</div>
      </div>
    </div>
    </div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">

      <div class="stm_contacts_widget  style_4">


        <h4 class="no_stripe">TOZEUR-NEFTA</h4>
        <ul>
          <li>
            <div class="icon"><i class="fa fa-phone"></i></div>
            <div class="text">
              76 453 388 P 4054                                                    <br>98 825 407                                            </div>
          </li>
          <li>
            <div class="icon"><i class="fa fa-fax"></i></div>
            <div class="text">
              76 471 500                    </div>
          </li>
          <li>
            <div class="icon"><i class="fa fa-envelope"></i></div>
            <div class="text"><a href="mailto:louay.kidoudi@ tunisairhandling. com.tn">louay.kidoudi@ tunisairhandling. com.tn</a></div>
          </li>
        </ul>


      </div><div class="vc_custom_heading text_align_left"><p style="text-align: left">Service de veille : 76 453 388 P 4027</p></div><div class="vc_custom_heading text_align_left"><p style="text-align: left">Sitatex : TOEKKXH</p></div><div class="wpb_gmaps_widget wpb_content_element">
      <div class="wpb_wrapper">
        <div class="wpb_map_wraper">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3310.2251168691096!2d8.109276715211953!3d33.93533768063794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1257ea9d5cf9ab51%3A0x36a1673e97c24eee!2sA%C3%A9roport+international+de+Tozeur-Nefta!5e0!3m2!1sfr!2stn!4v1527678453538" width="600" height="150" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen=""></iframe>		</div>
      </div>
    </div>
    </div></div></div></div>
    </div>

  </article>
</div>
