<div class="vc_row wpb_row vc_row-fluid vc_custom_1451991003825"><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-9 vc_col-md-9"><div class="vc_column-inner "><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element  vc_custom_1530448900067">
    <div class="wpb_wrapper"  class="container mt-1 mb-1 ">
      <h3><span style="font-family: times new roman, times, serif;">Présentation</span></h3>
      <p><span style="color: #333333; font-family: times new roman, times, serif;">Tunisair Handling est une société anonyme filiale à 100% de Tunisair.</span><br>
        <span style="color: #333333; font-family: times new roman, times, serif;"> Créée le 13 octobre 2004. Tunisair Handling est présente au niveau de la quasi – totalité des aéroports Tunisiens pour assurer des services d’assistance au sol au profit des compagnies aériennes opérant en Tunisie.</span><br>
        <span style="color: #333333; font-family: times new roman, times, serif;"> Les services offerts concernent principalement trois axes d’activités:</span></p>
      <ul>
        <li><span style="color: #333333; font-family: times new roman, times, serif;">Assistance des passagers,</span></li>
        <li><span style="color: #333333; font-family: times new roman, times, serif;">Traitement des avions et assistance des vols cargo,</span></li>
        <li><span style="color: #333333; font-family: times new roman, times, serif;">Traitement des bagages, chargement / déchargements du fret, des conteneurs et des palettes</span></li>
      </ul>
      <p><span style="color: #333333; font-family: times new roman, times, serif;">Pour remplir sa mission et atteindre ses objectifs, Tunisair Handling compte sur plus de 2200 professionnels et plus de 749 engins ainsi que sur un système d’information intégré configuré selon les standards internationaux et déployé sur tous les sites.</span></p>
      <p><span style="color: #333333; font-family: times new roman, times, serif;">En référence à sa politique et à son engagement qualité, son principal objectif est essentiellement la fourniture de services d’assistance aéroportuaire répondant aux règlementations nationales et internationales, aux directives et recommandations en matière de sécurité et de sûreté ainsi qu’aux besoins et attentes de ses clients.</span></p>
      <div class="vc_custom_heading base_font_color vc_custom_1530448483501 text_align_center">
        <h2 style="font-size: 45px;line-height: 60px;text-align: center;font-family:times new roman;font-weight:400;font-style:normal">Indicateurs d’activité 2017</h2>
      </div>

    </div>
  </div>
  <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1450870589488"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner "><div class="wpb_wrapper">

    <div class="icon_box style_1 icon_left clearfix">
      <div class="icon font-color_default font-color_base_bg" style="width:70px"><i style="font-size:40px;  " class="stm-airplane"></i></div>
      <div class="icon_text">
        <h5 class="font-color_base">Nombre de vols </h5>
        <p><strong><span style="font-size: 14pt;">45000&nbsp;</span></strong></p>
      </div>
    </div>

  </div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner "><div class="wpb_wrapper">

    <div class="icon_box style_1 icon_left clearfix">
      <div class="icon font-color_default font-color_base_bg" style="width:70px"><i style="font-size:30px;  " class="stm-pin_13"></i></div>
      <div class="icon_text">
        <h5 class="font-color_base">Nombre d'aéroports</h5>
        <p><span style="font-size: 14pt;"><strong>&nbsp;8</strong></span></p>
      </div>
    </div>

  </div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner "><div class="wpb_wrapper">

    <div class="icon_box style_1 icon_left clearfix">
      <div class="icon font-color_default font-color_base_bg" style="width:70px"><i style="font-size:30px;  " class="stm-mans"></i></div>
      <div class="icon_text">
        <h5 class="font-color_base"> Passagers traités</h5>
        <p><span style="font-size: 14pt;"><strong>7503695&nbsp;</strong></span></p>
      </div>
    </div>

  </div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner "><div class="wpb_wrapper">

    <div class="icon_box style_1 icon_left clearfix">
      <div class="icon font-color_default font-color_base_bg" style="width:70px"><i style="font-size:30px;  " class="stm-nokia_outline"></i></div>
      <div class="icon_text">
        <h5 class="font-color_base">Compagnies clientes</h5>
        <p><span style="font-size: 14pt;"><strong>&nbsp;+ 140</strong></span></p>
      </div>
    </div>

  </div></div></div></div>
  <div class="wpb_text_column wpb_content_element  vc_custom_1530274557658">
    <div class="wpb_wrapper">
      <h3><span style="font-family: times new roman, times, serif;">Politique et Engagement</span></h3>
      <p><span style="color: #333333; font-family: times new roman, times, serif;">Ayant toujours axé sa stratégie et sa politique sur la qualité de ses prestations, TUNISAIR HANDLING a opté par une démarche volontariste pour la mise en place d’un <strong>Système de management de la Qualité</strong>, conformément aux normes internationales qui s’est appuyée sur les objectifs prioritaires de <strong>Sûreté</strong>, de <strong>Sécurité</strong> et de <strong>Satisfaction Client</strong> ainsi qu’aux référentiels et standards du métier.</span></p>
      <p><span style="color: #333333; font-family: times new roman, times, serif;">La mise en œuvre de ce système a fortement contribué à l’essor de cette entreprise.</span></p>
      <p><span style="color: #333333; font-family: times new roman, times, serif;">Vecteur de performance au sein de l’entreprise, la politique qualité doit&nbsp;:</span></p>
      <ul>
        <li><span style="color: #333333; font-family: times new roman, times, serif;"><strong>Maintenir et pérenniser</strong> le déploiement de la qualité au sein de l’entreprise,</span></li>
        <li><span style="color: #333333; font-family: times new roman, times, serif;"><strong>Cibler en permanence le client</strong> à travers l’identification des exigences et la satisfaction de ses attentes,</span></li>
        <li><span style="color: #333333; font-family: times new roman, times, serif;"><strong>Impliquer l’ensemble du personnel</strong> dans l’identification des risques, dans les opportunités d’améliorations et dans la réalisation des objectifs.</span></li>
      </ul>
      <p><span style="color: #333333; font-family: times new roman, times, serif;">Pour réussir cette démarche et atteindre les objectifs que nous nous sommes fixés, à savoir&nbsp;: la satisfaction du client, sa confiance et sa fidélité, nous mettrons tout en œuvre pour&nbsp;:</span></p>
      <ul>
        <li><span style="color: #333333; font-family: times new roman, times, serif;"><strong>Pourvoir à la formation</strong> afin d’améliorer les compétences individuelles,</span></li>
        <li><span style="color: #333333; font-family: times new roman, times, serif;"><strong>Améliorer la maîtrise des processus</strong> de réalisation en assurant le niveau de performance attendu,</span></li>
        <li><span style="color: #333333; font-family: times new roman, times, serif;"><strong>Surveiller et évaluer l’efficacité</strong> des actions entreprises et réalisées pour améliorer en permanence les performances des processus.</span></li>
      </ul>
      <p><span style="color: #333333; font-family: times new roman, times, serif;">Des objectifs précis et chiffrés sont déterminés et déclinés par processus, ils sont régulièrement examinés et communiqués au personnel afin de percevoir la cohérence et l’efficacité du système.</span></p>
      <p><span style="color: #333333; font-family: times new roman, times, serif;">Afin de maintenir le cap vers ces objectifs, la Direction Générale s’engage avec l’appui et l’adhésion du personnel à&nbsp;:</span></p>
      <ul>
        <li><span style="color: #333333; font-family: times new roman, times, serif;">Doter les structures de moyens humains, techniques et financiers nécessaires à la mise en œuvre et à l’entretien du Système de Management de la Qualité,</span></li>
        <li><span style="color: #333333; font-family: times new roman, times, serif;">Communiquer au sein de l’entreprise l’importance à satisfaire les exigences des clients, les exigences légales et règlementaires ainsi que les objectifs Qualité établis.</span></li>
        <li><span style="color: #333333; font-family: times new roman, times, serif;">Soutenir, sensibiliser et encourager le personnel à souscrire à la démarche d’amélioration continue et au bon fonctionnement du Système Qualité.</span></li>
        <li><span style="color: #333333; font-family: times new roman, times, serif;">Animer, contrôler et revoir ces orientations dans le cadre des Revues de Direction.</span></li>
      </ul>

    </div>
  </div>

  <div class="wpb_text_column wpb_content_element  vc_custom_1530451751540">
    <div class="wpb_wrapper">
      <h3><span style="font-family: times new roman, times, serif;">Mission</span></h3>
      <p><span style="color: #333333; font-family: times new roman, times, serif;">Tunisair Handling a pour mission l’assistance au sol dans les meilleures conditions de confort et de sécurité, des passagers (à l’arrivée et au départ), des bagages (chargement, déchargement, tri, litige), et de traiter les avions des compagnies aériennes opérant sur le territoire tunisien (tractage, guidage, pose et retrait des cales, nettoyage, ravitaillement d’eau).</span></p>
      <div class="vc_custom_heading base_font_color vc_custom_1530448483501 text_align_center">
        <h2 style="font-size: 45px; line-height: 60px; text-align: center; font-family: times new roman; font-weight: 400; font-style: normal;">CERTIFICATS</h2>
      </div>

    </div>
  </div>
  <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1450870589488"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_single_image wpb_content_element vc_align_center">

      <figure class="wpb_wrapper vc_figure">
        <a data-rel="prettyPhoto[rel-979-52984034]" href="http://tunisairhandling.tn/wp-content/uploads/2018/03/4.png" target="_self" class="vc_single_image-wrapper   vc_box_border_grey prettyphoto"><img width="190" height="248" src="http://tunisairhandling.tn/wp-content/uploads/2018/03/4.png" class="vc_single_image-img attachment-full" alt=""></a>
      </figure>
    </div>
  </div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_single_image wpb_content_element vc_align_center">

      <figure class="wpb_wrapper vc_figure">
        <a data-rel="prettyPhoto[rel-979-313436128]" href="http://tunisairhandling.tn/wp-content/uploads/2018/03/3.png" target="_self" class="vc_single_image-wrapper   vc_box_border_grey prettyphoto"><img width="190" height="248" src="http://tunisairhandling.tn/wp-content/uploads/2018/03/3.png" class="vc_single_image-img attachment-full" alt=""></a>
      </figure>
    </div>
  </div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_single_image wpb_content_element vc_align_center">

      <figure class="wpb_wrapper vc_figure">
        <a data-rel="prettyPhoto[rel-979-1697287186]" href="http://tunisairhandling.tn/wp-content/uploads/2018/03/5.png" target="_self" class="vc_single_image-wrapper   vc_box_border_grey prettyphoto"><img width="197" height="260" src="http://tunisairhandling.tn/wp-content/uploads/2018/03/5.png" class="vc_single_image-img attachment-full" alt=""></a>
      </figure>
    </div>
  </div></div></div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3 vc_hidden-sm vc_hidden-xs"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div></div>
